/*dot for class, no dot for other stuff*/

body {
    margin: 0px;
    width: 70%;
    padding: 0px;
}
header {
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100px;
    width: 2000px;
    font-size: 500%;
    position: relative;
    text-align: center;
    color: red;
    border: 2px solid black;
    background-color: black;
}
nav ul {
    padding: 0px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    float: left;
    width: 100%;
    height: 30px;
    margin: 0px;
    padding: 5px;
    border: 2px solid black;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
.links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.links a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .links {
    display: block;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
