body {
    margin: 60px auto;
    width: 70%;
}
header {
    height: 100px;
    border: 1px solid, white;
    width: 900 px;
    margin:0px auto;
    background-image: url(purplelogo.png);
    font-size: 500%;
    position: center;
    color: red;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.links a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .links {
    display: block;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

